/*BODY*/
body {
  color: orangered;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

/*HTML*/
html {
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

/*NAV*/
nav a img {
  height: 80px;
  width: 80px;
}

/*CLASES*/
.titulo {
  color: orangered;
  font-size: 5rem;
  font-style: oblique;
  text-shadow: 2px 3px 5px yellow;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.titulo2 {
  color: orangered;
  font-size: 3.5rem;
  font-style: oblique;
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
}

.titulo3 {
  color: orangered;
  font-size: 3rem;
  font-style: oblique;
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
}

.tablas {
  color: white;
}

.fondoFuerte {
  background-color: yellow;
}

.imgEntrenaSeguro {
  height: 500px;
  width: 500px;
  position: relative;
  left: 32%;
  margin: 15px;
}

.galeria ul {
  height: 100%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.textNar {
  color: orangered;
}

.tablaClases {
  margin-bottom: 2%;
}

.titleBox {
  margin-top: 3%;
}

.textBox {
  margin: 4%;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formularioTitle {
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}

/*FORM*/
.translateLogo .translateForm {
  float: right;
  margin-bottom: 5%;
}

form fieldset {
  margin-left: 25px;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*IDs*/
#fondo {
  background-color: #1d1b1b;
}

#fondoGradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#434343), to(black));
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#carouselPress {
  margin-bottom: 7%;
}

/*TEXTS*/
h1 {
  position: static;
  left: 530px;
  text-align: center;
}

legend {
  font-size: 2.5rem;
}

/*CARRUSEL*/
.carrusel {
  position: static;
  left: 530px;
  float: inline-start;
}

/*BOXES*/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 520px;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

a:hover {
  color: orangered;
  letter-spacing: 0.3rem;
}

#fondo .box .infoBox {
  background-color: orangered;
  color: yellow;
  border-top: dashed 5px;
  border-right: dashed 5px;
  border-bottom: dashed 5px;
  border-left: dashed 5px;
}

/*BOTONES*/
.btnNar {
  background-color: orangered;
  color: yellow;
  margin-top: 2%;
  margin-bottom: 1.5%;
  margin-left: 1.8%;
}

.btnAma {
  background-color: yellow;
  color: orangered;
  margin-top: -2%;
  margin-bottom: 1.5%;
  margin-left: 1.8%;
}

/*FOOTER*/
.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.8%;
  padding-top: 2%;
  border-top: 3px solid orangered;
}

.footInfo {
  display: inline-block;
  margin-right: 155px;
  margin-bottom: 2%;
}

.footInfo a {
  letter-spacing: 0rem;
}

/*Responsive*/
@media (max-width: 768px) {
  .tablaClases {
    display: none;
  }
}

@media (min-width: 769px) {
  .box .infoBox .btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */